# Secrets
kubeconfig

# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig**.yaml
# vscode-sops
.decrypted~*.yaml

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
