---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Namespaces
  - default
  - home-automation
  - media
  - monitoring
  # Singular apps
  - cloudflared/ks.yaml
  - external-dns/ks.yaml
  # - cloudnative-pg/ks.yaml
  # - meshcentral/ks.yaml
  - oauth2-proxy/ks.yaml
  - paperless-ngx/ks.yaml
